{% extends 'base.html' %}

{% block content %}
    <h1>Review Lists</h1>
    {% if request.user.is_authenticated %}
        <a href="{% url 'community:create' %}">[New]</a>
    {% else %}
        <a href="{% url 'accounts:login' %}">[New]</a>
    {% endif %}
    <hr>
    {% for list in review %}
        {{ list.pk }}
        <a href="{% url 'community:review_detail' list.pk %}">{{ list.title }}</a>
        {{ list.movie_title }}
        {{ list.rank }}
        <hr>
    {% endfor %}
{% endblock content %}
