{% extends 'base.html' %}

{% block content %}
    <h1 class='mt-3'>평점순 추천</h1>
    <hr>

    <div class="row row-cols-1 row-cols-md-6">
    {% for recommend in recommends %}
    <div class="col mb-3">
        <div class="card h-100">
        <img src="{{recommend.poster_path}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h8 class="card-title">{{recommend.title}}
                <br>
                <span class='badge badge-primary'>{{recommend.vote_average}}</span>
            </h5>
            <a href="{% url 'movies:detail' recommend.pk %}" class="btn btn-dark">detail</a>
        </div>
        </div>
    </div>
    {% endfor %}
    </div>

{% endblock %}
